.App {
  text-align: center;
  margin: 0 auto;
}

.repos-item{
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}
.item-name{
  justify-self: self-end;
}
.item-desc{
  justify-self: self-start;
}